# VS Shell project specific files and folders
*.vs

# Rider specific files and folders
.idea

# TwinCAT PLC
*.plcproj.bak
*.plcproj.orig
*.tpy
*.tclrs
*.compileinfo
*.asm
*.core
LineIDs.dbg
LineIDs.dbg.bak
*.tmc
*.tmcRefac
_[Ll]ibraries